* {

    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Marcellus', serif;
    margin-top: 20px;
    margin-left: 30px;
    height: 90px;
    display: flex;
    align-items: center;

}

a:link{
    margin-top: 35px;
}

header img:hover {
    transition: 300ms linear;
    transform: rotate(50deg);
}

body {
    font-family: 'Marcellus', serif;
    text-align: center;
    color: #000;
    min-width: 10px;
    background-color: #fddddd;
}

.title h1 {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 110px;
}

.textoone h2 {
    font-family: 'Marcellus', serif;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 676px;
    height: 260.87px;
    flex-shrink: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
    background: #F1DFB6;
    width: 700px;
    height: 300px;
    flex-shrink: 0;
    text-align: justify;
    text-align-last: center
}

.textotwo h1 {
    font-family: 'Marcellus', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 592px;
    height: 80px;
    flex-shrink: 0;
    position: relative;
    right: -40px;
    top: 20px;
}

.textotwo {
    font-family: 'Marcellus', serif;
    border-radius: 30px;
    background: #F1DFB6;
    width: 700px;
    height: 300px;
    flex-shrink: 0;
    position: relative;
    left: 20px;
    top: 50px;

}

.textotwo h2 {
    font-family: 'Marcellus', serif;
    width: 400px;
    height: 40px;
    flex-shrink: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 125px;
    

}

.textotwo img {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    position: relative;
    background: url(https://www.figma.com/file/FwezxcaQxRvE5THUsI9ow3/image/72a4e175e3786655ebb67298cb85565799e25539?fuid=1229759429118023247), lightgray 50% / cover no-repeat;
}

.textothree h1 {
    font-family: 'Marcellus', serif;
    display: flex;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 225px;
    height: 50px;
    flex-shrink: 0;
    position: relative;
    right: 163px;
    left: 1012px;
    bottom: -882px;
    top: -729px;

}

.nomes h2 {
    color: #000;
    font-family: Marcellus;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 700px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
    left: 1025px;
    bottom: 600px;
    margin-bottom: 97.66px;
    display: flexbox;

}

.nomes h2 img {
    display: flex;
    position: relative;
    bottom: -80px;
}

.nomes {
    position: relative;
    bottom: 200px;
    right: 200px;
}

@media (max-height: 768px) {
    *{
        zoom: 95%;
    }
}