* {

    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    font-family: 'Marcellus', serif;
    margin-top: 2%;
    margin-left: 3%;
    height: 9%;
    display: flex;
    align-items: center;

}

header img:hover {
    transition: 300ms linear;
    transform: rotate(50deg);
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    font-family: 'Marcellus', serif;
    text-align: center;
    color: #000;
    min-width: 1%;
    background-color: #fddddd;
}

.title{
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    width: 90%;
    height: 10%;
    gap: 7%;
}


.title h1{
    margin-top: 3%;
    margin-left: 16%;
    display: flex;
    align-items: center;
    font-size: 350%;
    font-weight: 400;
    width: 80%;
    height: 10%;
}

.title h2{  
    margin-top: 5%;
    display:flex;
    align-items: center;
    width: 70%;
    font-size: 180%;
    font-weight: 400;
    padding: 1%;
    border-radius: 30px;
    background: #fadc96;

}

.textos{
    display: flex;
    margin-top: 13%;
    margin-left: 11%;
    gap: 8%;
    width: fit-content;
}

.textos h1{
  
    font-family: 'Marcellus', serif;
    padding: 2%;
    width: 40%;
    height: 45%;
    font-size: 190%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
    background: #fadc96;
    text-align: center;
   

}

.textos h2{
   
    font-family: 'Marcellus', serif;
    padding: 2%;
    width: 40%;
    height: 45%;
    font-size: 197%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
    background: #fadc96;
    text-align: center;
   
    
}

button {
    font-family: 'Marcellus', serif;
    color: black;
    padding: 1% , 1%;
    line-height: normal;
    width: 10%;
    height: 8%;
    font-size: 230%;
    border-radius: 30px;
    border-width: 0;
    background: #CAAACD;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-inline: 17%;
}

a:link {
    text-decoration: none;
    color: #000;
   }

a:hover {
    text-decoration: underline;

}

@media (max-width: 1366px) {


    header {
        font-family: 'Marcellus', serif;
        margin-top: 20px;
        margin-left: 30px;
        height: 90px;
        display: flex;
        align-items: center;
    
    }
    
    header img:hover {
        transition: 300ms linear;
        transform: rotate(50deg);
    }
    
    body {
        font-family: 'Marcellus', serif;
        text-align: center;
        color: #000;
        min-width: 10px;
        background-color: #fddddd;
    }
    
    .title{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-left: 120px;
        width: 900px;
        height: 200px;
        gap: 10px;
    }
    
    
    .title h1{
        margin-top: 50px;
        margin-left: 230px;
        display: flex;
        align-items: center;
        font-size: 50px;
        font-weight: 400;
        width: 922px;
        height: 222px;
    }
    
    .title h2{  
        margin-left: 80px;
        display:flex;
        align-items: center;
        width: 800px;
        height: 80px;
        font-weight: 350;
        padding: 2%;
        border-radius: 30px;
        background: #fadc96;
    
    }
    
    .textos{
        display: flex;
        margin-top: 200px;
        margin-left: 110px;
        gap: 40px;
    }
    
    .textos h1{
      
        font-family: 'Marcellus', serif;
        padding: 20px;
        width: 550px;
        height: 200px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #fadc96;
        text-align: center;
       
    
    }
    
    .textos h2{
       
        font-family: 'Marcellus', serif;
        padding: 2%;
        width: 550px;
        height: 200px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #fadc96;
        text-align: center;
        
    }
    
    button {
        font-family: 'Marcellus', serif;
        color: black;
        padding: 5px;
        line-height: normal;
        width: 130px;
        height: 60px;
        font-size: 30px;
        border-radius: 30px;
        border-width: 0;
        background: #CAAACD;
        margin-top: 2%;
        margin-inline: 240px;
    }
    
  } 

