* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 90vh;
    width: 100vh;
    margin: 30px;
}

header {
    margin-top: 20px;
    height: 90px;
    display: flex;
    align-items: center;

}

a:link {
    text-decoration: none;
    color: #000;
}


header img {
    margin: 10px;
    width: 45px;

}

header img:hover {
    transition: 300ms linear;
    margin: 10px;
    width: 45px;
    transform: rotate(50deg);
}

header div h1 {
    font-family: 'Marcellus SC';
    font-size: 1.8rem;
    color: #373D3B;
    display: none;
    position: relative;
    letter-spacing: 15px;
}

header div h1 span {
    color: #373D3B;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;

}

#mob {
    display: flex;
    visibility: collapse;
}

header div h1:hover span {
    opacity: 1;
    /* Mostrar o ponto de interrogação ao passar o mouse */
}

body {
    min-width: 10px;
    background-color: #fddddd;
}

.box-container {
    grid-template-columns: repeat(1, 1fr) !important;
    left: 0px !important;
    bottom: 0px !important;
}

.text {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.box {
    cursor: pointer;
    width: 240px!important;
    height: 126px!important;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box .image {
    display: none;
}



.box a {
    text-decoration: none;
    cursor: pointer;
    width: 295px;
    height: 307px;
    position: relative;
    top: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    
}

button img {
    width: 160px;
    display: none;
}

button {
    left: 0px!important;
    width: 240px!important;
    height: 126px!important;
    margin-bottom: 20px !important;
}

button:hover {
    background-color: #78a4e7;
}



button div h1 {
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}


#b1 {
    background-color: #9CE3B4;
}

#b2 {
    background-color: #EEBD5A;
}

#b3 {
    background-color: #F18B8B;
}

#b4 {
    background-color: #ff914de6;
}

#b5 {
    background-color: #CAAACD;
}

#b6 {
    background-color: #5bcd0180;
}

#b1:hover {
    background-color: #02f152;
}

#b2:hover {
    background-color: #f0a40e;
}

#b3:hover {
    background-color: #b83a3a;
}

#b4:hover {
    background-color: #e45c08e6;
}

#b5:hover {
    background-color: #eb20fd;
}

#b6:hover {
    background-color: #135e01c5;
}