* {

    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 30px;
}

header {
    margin-top: 20px;
    height: 90px;
    display: flex;
    align-items: center;

}

a:link {
    text-decoration: none;
    color: #000;
   }


header img {

    margin: 10px;
    width: 45px;

}

header img:hover {
    transition: 300ms linear;
    margin: 10px;
    width: 45px;
    transform: rotate(50deg);
}

header div h1 {
    font-family: 'Marcellus SC';
    font-size: 1.8rem;
    color: #373D3B;
    display: inline-block;
    position: relative;
    letter-spacing: 15px;
}

header div h1 span {
    color: #373D3B;
    /* Cor de fundo, mesma cor do plano de fundo do header */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;

}

header div h1:hover span {
    opacity: 1;
    /* Mostrar o ponto de interrogação ao passar o mouse */
}

body {
    
    min-width: 10px;
    background-color: #fddddd;
}
.box-container {
    position: relative;
    left: 450px;
    bottom: 540px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-top: 30px;
}
.text {
    font-family: 'Marcellus SC';
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.box {
    cursor: pointer;
    width: 240px;
    height: 252px;
    background: #a00909;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

    

.box a {
    text-decoration: none;
    cursor: pointer;
    width: 295px;
    height: 307px;
    position: relative;
    top: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 20px;
}



button {
    position: relative;
    left: 60px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    border: #78a4e7;
    border-radius: 20px;
    width: 262px;
    height: 460px;
    background-color: #B2D9FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
}

button:hover {
    background-color: #78a4e7;
}



button div h1 {
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}


