h2:before {
  content: '+';
  font-family: Arial;
  background-color: #ccc;
  font-weight: normal;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  padding: 10px;
  width: 40px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

h2:hover:before {
  width: 150px;
  content: 'Depressão';
}
