h2:before {
  content: '+';
  text-align: center;
  font-family: Arial;
  background-color: #ccc;
  font-weight: normal;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  width: 40px;
  height: 40px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2:hover:before {
  width: 150px;
  text-align: center;
  content: 'Crestane';
}
